@model ProyectoFinal.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/Estilos.css" rel="stylesheet" />
    <div class="div-volver-create">
        <a class="btn-volver-create" asp-action="Index">Volver</a>
    </div>

    <div class="contenedor-principal-create">
        <h1>Crea un nuevo Pedido 👇</h1>
         <div class="contenedor-secundario-create">
        <h4>Datos a completar para generar un Pedido</h4>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"><b>⭐ Descripción del pedido</b></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProveedorId" class="control-label"><b>⭐Proveedor</b></label>
                <select asp-for="ProveedorId" class ="form-control" asp-items="ViewBag.ProveedorId"></select>

            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"><b>⭐ Costo del pedido</b></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"><b>⭐ Fecha de Ingreso</b></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
