@model ProyectoFinal.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}
<link href="~/css/Estilos.css" rel="stylesheet" />

<h3>¿Esta seguro que quiere eliminar este Pedido?</h3>
<div>
   <div class="contenedor-principal-detalles">
     <h1 class="h1-create">Datos del Pedido a eliminar 👇 </h1>
    <div class="contenedor-secundario-detalles">
        <div class="c-s-1">
            <p class="p-dato-detalles"> <b>● Descripción del Pedido: </b>@Html.DisplayFor(model => model.Descripcion)</p>
            <p class="p-dato-detalles"> <b>● Proveedor: </b>@Html.DisplayFor(model => model.Proveedor.NombreProveedor)</p>
            <p class="p-dato-detalles"> <b>● Costo del Pedido: </b>@Html.DisplayFor(model => model.Costo)</p>
            <p class="p-dato-detalles"> <b>● Fecha de ingreso del Pedido: </b>@Html.DisplayFor(model => model.FechaIngreso)</p>
        </div>


</div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" style="border-radius: 1.5rem; background-color: yellow; color:black"><b>● Volver a la lista</b></a>
    </form>
</div>
